.card{
    border-radius: 1rem;
}

.title{
    padding-top: 1rem;
    margin-bottom: 0rem;
    font-style: italic;
    font-family: cursive;
}

#listTitle{
    margin-bottom: 2rem;
}

.listItems{
    margin-bottom: 1rem;
}